{% extends 'base.html' %}

{% block links %}<link rel="icon" type="imagem/png" href="https://i.ibb.co/3YR2MXP/delete.png">{% endblock %}

{% block title %} Delete {% endblock %}

{% block main %}

    <h1>Tem certeza que deseja deletar o produto abaixo?</h1>
    <div class="text-center">
        <p id="nome_produto">{{ produto.nome_produto }}</p>
        {% if produto.foto%}
        <img src="/media/{{ produto.foto }}" class="rounded" alt="{{ produto.nome_produto }}" width="400" height="400">
        {% else %}
        <img src="https://i.ibb.co/xskkC6C/unknown.png" class="rounded" alt="unknown" width="400" height="400">
        {% endif %}
    </div>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
    <a href="{% url 'produto_list' %}" class="btn btn-primary">Voltar</a>

{% endblock %}

{% block footer %}
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container-1">
            <span class="text-muted">Desenvolvimento com Django para Apreendizagem.</span>
        </div>
  </footer>
{% endblock %}